<h1 style="color: rgba(202, 202, 2, 0.918);" class="text-center my-4 alert alert-warning">Lista de Favoritos</h1>

<p *ngIf="productosEnFavorito.length===0" class="alert alert-warning text-center">
    No se encuentran productos en favoritos ( ˙꒳​˙ )
</p>

<div class="card-container">
    <ng-container *ngIf="productosEnFavorito.length > 0">
        <ng-container *ngFor="let item of productosEnFavorito; let i = index">
            <div class ="card">
                <img [src]="item.productos.imagen" alt="{{item.productos.nombre}}" class="product-image">
                <h2>{{item.productos.nombre}}</h2>
                <p class="scroll-text">{{item.productos.descripcion}}</p>
                <p>Precio: ${{item.productos.precio}}</p>
                <button type="button" id="boton-card" class="btn btn-outline-primary" (click)="agregar(item.productos, item.productos.id)">Agregar al carrito</button>
                <button type="button" id="fav-card" class="btn btn-outline-primary" class="favoritos" (click)="quitarFavorito(item.productos.id)">Eliminar de Favoritos</button>
            </div>
        </ng-container>
    </ng-container>
</div>
