<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand"></a>
      <img src="https://i.pinimg.com/236x/5b/9a/e0/5b9ae056399a757d3f0f37b5cdbd8434.jpg" height="50px" width="50px">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
          <li class="nav-item">
            <a class="nav-link" routerLink="/inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contacto">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/productos">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ofertas">Ofertas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/carrito">Carrito</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/quienes-somos">Quienes somos</a>
          </li>
        </ul>
        
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        
        <li>
          <a routerLink="/carrito">
            <i class="bi bi-card">
              <span *ngIf="cantidadProductos > 0">
                {{cantidadProductos}}
              </span>
            </i>
          </a>
        </li>

      </div>
    </div>
  </nav>

