<h1 class="text-center my-4 alert alert-warning" >Ofertas</h1>
<div class="card-container">
    <ng-container *ngIf="Producto && Producto.length">
      <ng-container *ngFor="let producto of Producto">
        <div *ngIf="producto.disponibilidad" class="card">
          <img src="{{producto.imagen}}" height="250px" width="250px" alt="{{producto.nombre}}" class="product-image">
          <h2>{{producto.nombre}}</h2>
          <p>{{producto.descripcion}}</p>
          <p>Precio:${{producto.precio}}</p>
          <button type="button" class="btn btn-outline-primary" (click)="agregar(producto)">Agregar al carrito</button>
        </div>
      </ng-container>
    </ng-container>


     