/* You can add global styles to this file, and also import other style files */
html, body{ height: 100%;}
body{
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url(https://i.pinimg.com/736x/71/2d/47/712d472f010f24fc4b51ca92d41f6071.jpg);
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}
/*Para que se muestre bien: background-repeat:no repeat
background-size:cover
background-position:center
background-attachment:fixed*/
