<!--<div class="card-container">
    <div *ngFor="let productos of productos; let i = index" class="card" >
    <img src="{{ productos.imagen }}" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title"> Nombre: {{ productos.nombre }}</h5>
      <p class="card-text"></p>
      <p>Precio:{{ productos.precio }}</p>
      <a href="https://www.youtube.com/watch?v=e6ZHFdVAW_I" class="btn btn-primary">Comprar</a>
  </div>
</div> 
</div>-->

<h1>Productos</h1>

<div class="card-container">
  <ng-container *ngIf="Productos && Productos.length">
    <ng-container *ngFor="let productos of Productos">
      <div *ngIf="productos.disponibilidad" class="card">
        <img src="{{productos.imagen}}" height="250px" width="250px" alt="{{productos.nombre}}" class="product-image">
        <h2>{{productos.nombre}}</h2>
        <p>{{productos.descripcion}}</p>
        <p>Precio:${{productos.precio}}</p>
        <button type="button" class="btn btn-outline-primary" (click)="agregar(productos)">Agregar al carrito</button>
      </div>
    </ng-container>
  </ng-container>


